@model Kurs
<p>
    <b>
        @Model.Baslik</b> isimli kursu silmek istediğinize emin misiniz?
</p>

<form asp-controller="Kurs" asp-action="DeleteConfirm" method="post">
    <input type="hidden" asp-for="@Model.KursId" />
    <button type="submit" class="btn btn-danger">Evet</button>
    <a asp-controller="Kurs" asp-action="Index" class="btn btn-primary">Hayır</a>
</form>
